
[pyarmor]
# Configuração PyArmor 9+
# Documentação: https://pyarmor.readthedocs.io/en/latest/reference/configurations.html

[gen]
# Modo de ofuscamento
obf_module = 1
obf_code = 1

# Remover docstrings do código ofuscado
no_docstring = 1
