/**
 * T.A.M.K WebApp - Main JavaScript
 * Project: {{NAME}}
 * Version: {{VERSION}}
 */

(function() {
  'use strict';

  console.log('[{{NAME}}] App initialized');
  console.log('[{{NAME}}] Version: {{VERSION}}');

  window.App = {
    name: '{{NAME}}',
    version: '{{VERSION}}',
    author: '{{AUTHOR}}',

    info: function() {
      console.group('{{NAME}}');
      console.log('Version: {{VERSION}}');
      console.log('Author: {{AUTHOR}}');
      console.log('Package: {{PACKAGE}}');
      console.log('Built with T.A.M.K v{{TAMK_VERSION}}');
      console.groupEnd();
    },

    navigate: function(path) {
      console.log('[Navigation]', path);
    },

    fetch: async function(url) {
      try {
        var response = await window.fetch(url);
        if (!response.ok) throw new Error('HTTP ' + response.status);
        return await response.json();
      } catch (error) {
        console.error('[Fetch Error]', error);
        throw error;
      }
    }
  };

  window.App.info();
})();
