<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="app_name">{{NAME}}</string>
    <string name="app_version">{{VERSION}}</string>
    <string name="app_author">{{AUTHOR}}</string>
    <string name="tamk_version">{{TAMK_VERSION}}</string>
</resources>
