<?xml version="1.0" encoding="utf-8"?>
<resources>
    <style name="AppTheme" parent="android:Theme.Material.Light.NoActionBar">
        <item name="android:colorPrimary">#1976D2</item>
        <item name="android:colorPrimaryDark">#1565C0</item>
        <item name="android:colorAccent">#03DAC5</item>
        <item name="android:statusBarColor">#1565C0</item>
    </style>

    <style name="AppTheme.NoActionBar" parent="AppTheme">
        <item name="android:windowNoTitle">true</item>
        <item name="android:windowActionBar">false</item>
    </style>
</resources>
